<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Home") %>
<div class= "center jumbotron">
  <h1>Business Agile Toolkit</h1>
  </br>
  <h5>A place to find all business agile materials, learning plans, and guides to help you on your mission to becoming a better practitioner</h5>
</br>
</br>
</div>

<style>
  h4{
color:#1164fc;
font-weight:bold;

   }
p{
  color:#707070;
  font-style:italic;
}
  </style>



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <a href = "static_pages/core">
            <div class="grid-image-container">
              <%= image_tag("HomePage/placeholder.png", :id=> "placeholder", :class=>"grid-image",  :align=>"center") %>
            </br>
              <h4>What is Business Agile?</h4></a>
              </br>
              </br>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor nisi a ipsum ornare tristique.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <a href = "static_pages/setUp">
            <div class= "grid-image-container">
              <%= image_tag("HomePage/placeholder.png", :id=> "placeholder", :class=>"grid-image", :align=>"center") %>
            </br>
              <h4>Set up</h4></a>
            </br>
            </br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor nisi a ipsum ornare tristique.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <a href="static_pages/agileInAction">
            <div class="grid-image-container">
                <%= image_tag("HomePage/placeholder.png", :id=> "placeholder", :class=>"grid-image", :align=>"center") %>
            </br>
            <h4>Agile In Action</h4></a>
          </br>
          </br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor nisi a ipsum ornare tristique.</p>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="primary-panel-body">
        <a href= "static_pages/resources">
          <div class="grid-image-container">
            <%= image_tag("HomePage/placeholder.png", :id=> "placeholder", :class=>"grid-image", :align=>"center") %>
          </br>
            <h4>Agile Hacks</h4> </a>
          </br>
          </br>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor nisi a ipsum ornare tristique.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <a href="/experiments", target = "_blank">
            <div class="grid-image-container">
                <%= image_tag("HomePage/placeholder.png", :id=> "placeholder", :class=>"grid-image", :align=>"center") %>
              </br>
          <h4>Experiment Guide</h4>
        </br>
        </br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor nisi a ipsum ornare tristique.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <a href= "/plays">
            <dic class="grid-image-container">
              <%= image_tag("HomePage/placeholder.png", :id=> "placeholder", :class=>"grid-image", :align=>"center") %>
            </br>
            <h4>Playbook</h4></a>
          </br>
          </br>
          <p>A library of rVR plays with instructional videos & tips on how to run them successfully.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
