<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Roster") %>

<style>
body{
text-align: center;
}
h1{
  color:#1164FC;
  font-weight: bold;
}
h2{
color:#1164FC;
text-align: center;
}
p{
line-height: 1.2;
}
</style>

<h1> Team Roster </h1>

</br>
</br>
</br>
</br>

<div class="row">
  <div class="col-md-3">
    <%= image_tag("person.png", :class=>"img-fluid", :width=>"100px", :align=>"center") %>
     <h2>Bob Maguire</h2>
   </br>
     <b><p>SERVICE OWNER</p></b>
     <p>Facilitator</p>

  </div>

  <div class="col-md-3">
    <%= image_tag("person.png", :class=>"img-fluid", :width=>"100px", :align=>"center") %>
    </br>
    <h2>Tom Smith</h2>
    </br>
    <b><p>OPERATIONS MANAGER</p></b>
    <p>Facilitator</p>
  </div>

  <div class="col-md-3">
      <%= image_tag("person.png", :class=>"img-fluid", :width=>"100px", :align=>"center") %>
    <h2>Neal Bicker</h2>
  </br>
    <b><p>FACILITATION ENABLEMENT LEAD</p></b>
    <p>Facilitator</p>
  </div>

  <div class="col-md-3">
  <%= image_tag("person.png", :class=>"img-fluid", :width=>"100px", :align=>"center") %>
    <h2>Surge Skyok</h2>
  </br>
    <b><p>PRACTITIONER ENABLEMENT LEAD</p></b>
    <p>Facilitator</p>
  </div>
</div>

</br>
</br>
</br>
</br>


<div class="row">
    <div class="col-md-3">
        <%= image_tag("person.png", :class=>"img-fluid", :width=>"100px", :align=>"center") %>
     <h2>Amanda DiDomenico</h2>
   </br>
     <b><p>SPECILIST LEAD</p></b>
     <p>Producer</p>
  </div>

  <div class="col-md-3">
      <%= image_tag("person.png", :class=>"img-fluid", :width=>"100px", :align=>"center") %>
    <h2>Joe Barbuto</h2>
  </br>
    <b><p>RAPID DEVELOPMENT LEAD</p></b>
    <p>Producer</p>
  </div>

  <div class="col-md-3">
      <%= image_tag("person.png", :class=>"img-fluid", :width=>"100px", :align=>"center") %>
    <h2>Andrea Fischetti</h2>
  </br>
    <b><p>RAPID DEVELOPER</p></b>
    <p>Producer</p>
  </div>

  <div class="col-md-3">
      <%= image_tag("person.png", :class=>"img-fluid", :width=>"100px", :align=>"center") %>
    <h2>Jeff Koshy</h2>
  </br>
    <b><p>Producer</p></b>
    <!--<p>Facilitator</p>-->
  </div>
</div>

</br>
</br>
</br>
</br>

<div class="row">
    <div class="col-md-3">
      <%= image_tag("person.png", :class=>"img-fluid", :width=>"100px", :align=>"center") %>
     <h2>Aman Shah</h2>
   </br>
     <b><p>PRODUCER</p></b>
     <!--<p>Facilitator</p>-->
  </div>

  <div class="col-md-3">
      <%= image_tag("person.png", :class=>"img-fluid", :width=>"100px", :align=>"center") %>
    <h2>Meghan McLean</h2>
  </br>
    <b><p>SPECILIST</p></b>
    <!--<p>Facilitator</p>-->
  </div>

  <div class="col-md-3">
      <%= image_tag("person.png", :class=>"img-fluid", :width=>"100px", :align=>"center") %>
    <h2>Jeyur Patel</h2>
  </br>
    <b><p>PRODUCER</p></b>
    <!--<p>Facilitator</p>-->
  </div>

  <div class="col-md-3">
      <%= image_tag("person.png", :class=>"img-fluid", :width=>"100px", :align=>"center") %>
    <h2>Matt Hedricks</h2>
  </br>
    <b><p>FACILITATOR</p></b>
    <!--<p>Facilitator</p>-->
  </div>
</div>
