

       <!-- Google Tag Manager -->
       <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
       new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
       j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
       'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
       })(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
       <!-- End Google Tag Manager -->

<% provide(:title, "How Might We") %>
<%= stylesheet_link_tag    'playPage', media: 'all', 'data-turbolinks-track': 'reload' %>
  <h1> How Might We</h1>

  <div class="row">
    <div class="col-md-12">
    <h2>Overview:</h2>
     <p> This exercise is intended to allow the team to diverge by thoroughly thinking through all aspects
       and perspectives of the problem and then to converge by voting on the three most important unmet needs. By allowing each team
       member to document their thoughts individually the team will explore different perspectives and enable each other to
        think through the problem in various angles.</p>
      </div>
  </div>

  <br></br>

  <div class="row">
    <div class="col-md-2">
  </div>

  <div class="col-md-8">
    <div class ="video-responsive">
      <iframe width="496" height="279" src="https://www.youtube.com/embed/i7SyTx0PI0Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>

    <div class="row">
      <div class="col-md-2">
    </div>
</div>

<br></br>

  <div class="row">
    <div class="col-md-6">
       <!--<div class="Materials"></div>-->
       <h2>Materials:</h2>
       <ul>
         <li>Brown paper</li>
         <li>Masking tape</li>
         <li>Sticky notes</li>
         <ul>
           <li>1.5" x 2"</li>
           <li>3" x 3"</li>
           <li>8" x 6"</li>
           </ul>
           <li>Permanent markers</li>
           <li>Colored Dots</li>
           </ul>
    </div>
    <div class="col-md-6">
       <!--<div class="Set-up"></div>-->
      <h2>Set Up:</h2>
      <ol>
        <li>Tape a large piece of brown paper to the wall and write “How Might We…” on the top left side (should be done before the start of the workshop)</li>
        <li>Hand each participant a pad of Sticky notes and a Permanent marker</li>
        </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
     <!--<div class="Instructions"></div>-->
     <h2>Intructions:</h2>
     <ol>
       <li>Instruct each team member to write their own How Might We’s</li>
       <li>At the top left side of each sticky note, write HMW (short for How Might We).</li>
       <li>Whenever something of interest comes up while the team is unpacking data, write it down in the form of a question.
         <b>For example</b>, if the conversation is regarding customer service in a hotel, someone might write “HMW make the hotel guests feel welcomed as soon as they arrive at the hotel?”</li>
       <li>All of the sticky notes should be collected on the brown paper and grouped into categories (by the Producer) so that it is easy to vote on the sticky notes later and identify duplicate HMW’s.</li>
       <li>Once all the notes have been collected and organized into groups, it is best to review all of the HMW’s to refresh everyone on what items there are to vote on.</li>
       <li>Each team member should receive three large dots to vote with.</li>
       <li>Ask the team to vote on the three individual sticky notes that they feel are most important to find a solution to.</li>
       <li> Summarize the top unmet needs on large sticky notes (usually 3)</li>
     </ol>
   </div>
 </div>

 <div class="row">
   <div class="col-md-12">
    <!--<div class="Pro tips"></div>-->
    <h2> Example:</h2>
 <ul>
   <li><%= image_tag("Plays/goodHMW1.png", :class=>"img-fluid", :width=>"100%", :align=>"center") %></li>
 </ul>
 <table align = "center">
   <tr><td><%= image_tag("Plays/goodHMW2.png", :class=>"img-fluid", :width=>"100%", :align=>"center") %></td>
    <td> <%= image_tag("Plays/goodHMW3.png", :class=>"img-fluid", :width=>"100%", :align=>"center") %></td>
     <td><%= image_tag("Plays/goodHMW4.png", :class=>"img-fluid", :width=>"100%", :align=>"center") %></td></tr>

 </table>
 </div>
 </div>
